MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=NoteApp
host=127.0.0.1
BASE_URL=http://127.0.0.1:8000
IMGBB_API_KEY=your_imgbb_api_key_here
SECRET_KEY=your_jwt_secret_key_here
ALGORITHM=HS256
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=gemini-3.5-flash-lite
BREVO_API=your_brevo_api_key_here
BREVO_SENDER_EMAIL=your_verified_brevo_sender_email@gmail.com
BREVO_SENDER_NAME=Smart Note Reminder
